<%= render 'layouts/menu_top' %>

<div class="calendar">
  <%= render 'pluck_events' %>
  <div class="day" id="display-all">
    <%= link_to "Afficher le reste", source_all_events_path(source_id: @source.id), remote: true %>
  </div>
</div>


<%= render 'home_works/new', event: @events.first if @events.any? %>


<script>
$('.calendar').slick({arrows: false, infinite: false});

var hash = window.location.hash.substr(1);
if(hash !== "") {
  $('.calendar').slick('slickGoTo', $('#event-'+hash).parent('.day').index());
}
$(document).keydown(function(e){
  if (e.keyCode == 39) {
     $('.calendar').slick('slickNext');
  } else if (e.keyCode == 37) {
    $('.calendar').slick('slickPrev');
  }
});
</script>
