<%= render 'layouts/menu_top' %>

<div class="calendar">
  <%= render 'pluck_events' %>
  <div class="day" id="display-all">
    <%= link_to source_all_events_path(source_id: @source.id), remote: true, id: "load_more" do %>
      <span class="text">Afficher le reste</span>
      <div class="loader hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="30" viewBox="0 0 120 30" fill="#333">
          <circle cx="15" cy="15" r="9.60271">
              <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"/>
              <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"/>
          </circle>
          <circle cx="60" cy="15" r="14.3973" fill-opacity="0.3">
              <animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite"/>
              <animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite"/>
          </circle>
          <circle cx="105" cy="15" r="9.60271">
              <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"/>
              <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"/>
          </circle>
        </svg>
      </div>
    <% end %>
  </div>
</div>

<script>
$('.calendar').slick({arrows: false, infinite: false});

var hash = window.location.hash.substr(1);
if(hash !== "") {
  $('.calendar').slick('slickGoTo', $('#event-'+hash).parent('.day').index());
}
$(document).keydown(function(e){
  if (e.keyCode == 39) {
     $('.calendar').slick('slickNext');
  } else if (e.keyCode == 37) {
    $('.calendar').slick('slickPrev');
  }
});
</script>
